.wrapper{
    background: #F4F6F8;
    width: 640px;
    height: 230px;
    /* padding: 40px; */
    display: flex;
    justify-content: space-between;

}
.textBlock{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    margin: 40px;
    
}
.title{
    width: 220px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
    color: #000D1A;

}
.description{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
    color: #4D565F;

}
.link{
 font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
color: #FF6B12;
}
.cardImg{
width: 309px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

@media(max-width:480px) {
    .wrapper{
        width: 100%;
        flex-direction: column;
        height: 100%;
        margin-bottom: 24px;
    }
    .textBlock{
        order: 2;
    }

    .cardImg{
        padding-top:50px;
        padding-bottom:50px;
        width: 309px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        }
    
}
