.wrapper{
    /* padding-top: 18px;
    padding-bottom: 18px; */

    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000D1A2E;
}
.nav {
    min-height: 100%;
 display: flex;
 align-items: center;
}
.menu{
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.menu>li{
    display: flex; 
    align-items: center;
    min-height: 72px;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    list-style-type: none;
}
.menu>li:hover{
    border-bottom: 2px solid var(--main-orange);
}
.logo{

    margin-right: 60px;
}
