.wrapper{
    background: #F4F6F8;
    width: 640px;
    height: 230px;
    /* padding: 40px; */
    display: flex;
    justify-content: space-between;
}
.textBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    margin: 40px;
    
}
.title{
    width: 220px;
    font-weight: 400;
    font-size: 18px;

    color: #000D1A;

}
.description{
    font-weight: 400;
    font-size: 14px;
    
    color: #4D565F;

}
.link{
 font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
color: #FF6B12;
}
.cardImg{
width: 340px;
height: 230px;
display: flex;
justify-content: center;
align-items: center;
}
.terminalErrorImg{
    width: 236px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3D4041;
    border-radius: 16px;
    color: #fff;
    text-align: center;
}

@media (max-width:480px) {
    .wrapper{
        flex-direction: column;
        width: 340px;
        height: 100%;
    }
    .cardImg{
        order: 1;
    }
    .textBlock{
        order: 2;
        margin: 16px;
    }
    .title{
        margin-bottom: 16px;
    }
    .description{
    margin-bottom: 24px;
    }
}