.wrapper{
    margin: 40px 60px ;
}
.checkBlock{
    display: flex;
    justify-content: space-between;
}
@media(max-width:480px){
    .wrapper{
        margin: 0 ;
    }
    .checkBlock{
        flex-direction: column;
    }
    
}